@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.eot');
    src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff'),
         url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
         url('../fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.eot');
    src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff'),
         url('../fonts/poppins-semibold-webfont.ttf') format('truetype'),
         url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.eot');
    src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff'),
         url('../fonts/poppins-light-webfont.ttf') format('truetype'),
         url('../fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'codec_cold_trialextrabold';
    src: url('../fonts/codec-cold-extrabold-trial-webfont.eot');
    src: url('../fonts/codec-cold-extrabold-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/codec-cold-extrabold-trial-webfont.woff2') format('woff2'),
         url('../fonts/codec-cold-extrabold-trial-webfont.woff') format('woff'),
         url('../fonts/codec-cold-extrabold-trial-webfont.ttf') format('truetype'),
         url('../fonts/codec-cold-extrabold-trial-webfont.svg#codec_cold_trialextrabold') format('svg');
    font-weight: normal; 
    font-style: normal;

}
body {
    color: #000000;
    font-size: 16px;
    font-family: 'poppinsregular', sans-serif ;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,ul,li,p,form,figure {
	margin:0px;
	padding:0px;
}
h1 {
	font-size:35px;
	line-height:45px;
	font-weight:bold;
	font-family: 'poppinssemibold';
}
h2 {
	font-size:30px;
	line-height:40px;
	font-weight:bold;
	font-family: 'poppinssemibold';	
}
h3 {
	font-size:25px;
	line-height:35px;
	font-family: 'poppinssemibold';
}
h4 {
	font-size:20px;
	line-height:30px;
    font-family: 'poppinsregular';
}
h5 {
	font-size:18px;
	line-height:25px;
	font-weight:bold;
}
h6 {
	font-size:16px;
	line-height:22px;
    font-family: 'poppinsregular';
}
p {
	font-size:20px;
	line-height:30px;
    font-family: 'poppinsregular';
}
a:hover, a:focus {
	text-decoration:none;
}
ul,li {
	list-style:none;
}
.header {
	float:left;
	width:100%;
}
.header-topbar {
	padding:5px 0px;
}
.topbar-left {
	display:flex;
}
.topbar-left h6:nth-child(2){
	padding-left:20px;
}
.topbar-left span {
	padding-right:5px;
}
.header-topbar-right {
	float:right;
}
.header-topbar-right ul{
	display:flex;
}
.top-social-icon span{
	padding:0px 5px;
}
.top-social-icon  i {
	color:#7e7e7e
}
.header-row2 {
	padding-bottom:10px;
}
.header-row2  a.nav-link {
	color:#000;
	font-size:17px;
	font-weight:bold;
	line-height:26px;
}
.navbar {
	padding:0px;
}
.mf-auto  {
	margin-left:auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #B8E9F2;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.carousel-caption {
	right:0px;
}
.carousel-text  {
	padding-top:145px;
	width:35%;
	position:absolute;
}
.carousel-text h1 {
	font-size:52px;
	padding:15px 0px;
}
.carousel-text h4 {
	font-size:28px;
	font-weight:500;
}
.carousel-text p{
	font-size:18px;
	line-height:22px;
}
.carousel-btn {
	padding-top:20px;
}
.carousel-btn a{
	background-color:#fff;
	border-radius:25px;
	padding:10px 25px;
	min-width:206px;
	height:46px;
	font-size:18px;
}
.carousel-btn span:nth-child(2){
	padding-left:20px;
}
.carousel-indicators {
	display:none;
}

.header-row4 {
	width:800px;
	margin:0 auto;
	background-color:#38DBAE;
	padding:25px 20px;
	color:#fff;
	border-radius:20px;
	position:relative;
	bottom: 60px;
} 
.row4-left {
	border-right:1px solid #fff;
	padding-left:10px;
}
.row4-left p {
	font-size:16px;
	letter-spacing:1px;
	color:#F3F3F3;	
}
.row4-left h1 {
	font-size:26px;
	letter-spacing:1.5px;
}

.row4-right {
	padding-left:10px;
} 
.row4-right p {
	font-size:16px;
	letter-spacing:1px;
	color:#F3F3F3;
}
.row4-btn {
	padding-top:5px;
}
.row4-btn a{
	border-radius:25px;
	padding:5px 10px;
	font-size:16px;
	border:1px solid #ccc;
}
.row4-btn span:nth-child(2){
	padding-left:10px;
}
/*.equipments-image {
	width: 136px;
    height: 190px;
    background: #ffc000;
    display: block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
} */
.equipments-right  span {
	font-family: 'poppinsregular';
	font-weight:100;
}
.equipments-right p {
	padding-top:10px;
	font-size:16px;
}
.equipments-btn {
	padding-top:20px;
}
.equipments-btn a{
	background-color:#fff;
	border-radius:25px;
	padding:10px 35px;
	min-width:206px;
	height:46px;
	font-size:18px;
	border:2px solid #ccc;
}
.equipments-btn span:nth-child(2){
	padding-left:15px;
}
.events {
	padding-top:60px;
}
.title {
	text-align:center;
}
.slick-dots {
	display:none !important;
}
.top-destination-inner  {
	padding-top:50px;
}
.patients  {
	padding-top:60px;
	padding-bottom:30px;
	width:850px;
	margin:0 auto
}
.patients .title span {
	font-family: 'poppinsregular';
	font-weight:100;
}
.patients-list {
	font-size:16px;
	line-height:24px;
}
.owl-nav {
	text-align:center;
	padding-top:15px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
	background-color:#38DBAE;
	color:#fff;
	padding:5px 10px!important;
	margin:5px;
}
.events-list-image img {
	position:relative;
	border-radius:20px;
}
.content {
	padding-top:10px;
}
.content h3{
	font-size:20px;
}
.patients-list p{
	font-size:14px;
	color:#7E7E7E;
	line-height:14px;
	width:70%;
}
.patients-image img {
	border-radius:50%;
	width:100%;
	border:2px solid #38DBAE;
}
.patients-list-content {
	padding-top:10px;
}
.patients-list-content h3{
	font-size:20px;
}
.patients-list {
	padding-top:60px;
}
.footer {
	background-color:#000000;
	color:#fff;
	margin-top:50px;
	padding-top:20px;
}


.gallery {
	width:20%;
	position:relative;
	display:flex;
}
.gallery-section {
	display:flex;
	float:left;
	margin-bottom:60px;
}
.gallery-2 {
	left:-50px;
}
.gallery-3 {
	left:-100px;
}
.gallery-4 {
	left:-150px;
}
.gallery-5 {
	left:-200px;
}
.gallery-6 {
	left:-250px;
}
.gallery-section {
	float:left;
	width:100%;
}
.events {
	float:left;
	width:100%;
}
.equipments {
	float:left;
	width:100%;
}

.footer-row1 img{
	width:60%;
	margin-bottom:20px;
}
.footer-row1  {
		padding-bottom:40px;
}
.footer-row1 p {
	font-size: 14px;
    color: #7E7E7E;
	line-height:20px;
}
.footer-row1 h3 {
	font-size:22px;
}
.quick-links h3 {
	padding-top:25px;
	padding-bottom:15px;
}
.footer-row1 .row{
	padding-top:10px;  
} 
.footer-row1 .col-md-3 i{
	font-size:30px;
}
.footer-row2 {
	background-color:#0c0c0c;
	padding:10px 0px;
	text-align:center;
}
.footer-row2 p {
	font-size:14px;
	line-height:22px;
}
.footer-row2 p a{
	color:#38DBAE !important;
	cursor:pointer;
} 
.date {
	background-color:#38DBAE;
	position:absolute;
	color:#fff;
	z-index:999;
	padding:8px;
	border-bottom-right-radius:10px;
	text-align:center;
}
.children {
	background-color:#fff;
	position:absolute;
	color:#000;
	z-index:999;
	padding:7px 15px;
	border-radius:25px;
	bottom:85px;
	right:10px;
}
.dropdown-menu {
	display:none !important;
	padding:5px;
}
.language .btn {
	padding:0px;
	top:-2px;
	right:10px;
}
.navbar-light .navbar-nav .nav-link{
	color:#000;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#38dbae;
}